<!-- ======= Footer ======= -->
<footer id="footer" class="py-4 mt-auto">
  <div class="container">
    <div class="copyright">
       Copyright  &copy; <strong><span>Movies</span></strong>
    </div>
  </div>
</footer>
<!-- End #footer -->
