
<!-- Modal -->
<div class="modal fade" id="ratingsMovieModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header shadow">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
            <label for="rating_movie_value" class="col-form-label">Ratings:</label>
            <input type="text" class="form-control" id="rating_movie_value">
           </div>

           <%= render "shared/star" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="raiteSubmit" class="btn btn-primary">Raite!</button>
        </div>
    </div>
  </div>
</div>
<!--/ Modal -->
